
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Charles Tagger</title>
    <meta name="description" content="Companies House iXBRL template tagging workspace" />
    <meta name="author" content="Rob Marks" />

    <meta property="og:title" content="Charles Tagger" />
    <meta property="og:description" content="Companies House iXBRL template tagging workspace" />
    <meta property="og:type" content="website" />

    <script type="module" crossorigin src="/assets/index-8ompLdDl.js"></script>
    <link rel="stylesheet" crossorigin href="/assets/index-CY9nzkkC.css">
  </head>

  <body>
    <div id="root"></div>

  </body>
</html>
